torch~=1.10.0+cu111
numpy~=1.19.5
opencv-python~=4.6.0.66
torchvision~=0.11.0+cu111
scipy~=1.5.4
Pillow~=8.4.0
pycocotools~=2.0.6
seaborn~=0.11.2
tqdm~=4.64.1
matplotlib~=3.3.4
scikit-image~=0.17.2
six~=1.16.0
PyYAML~=4.2b4
packaging~=21.3
sklearn~=0.0.post1
scikit-learn~=0.24.2
chainer~=7.8.1
torchsummary~=1.5.1
pynvml~=11.4.1
pydensecrf~=1.0rc3
torchcam~=0.3.2
setuptools~=58.0.4
cupy~=9.4.0